# Ignorar ambiente e segredos
.env
.env.*
!.env.example

# Ambientes virtuais
.venv/
venv/

# Bytecode Python
__pycache__/
*.py[cod]

# Logs
auth.log
*.log

# Arquivos temporários / dumps
*.sqlite3
*.tmp
*.swp

# Builds / Distribuição
build/
dist/

# Arquivos estáticos coletados
staticfiles/

# Cache / Coverage
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# IDE / Editor
.vscode/
.idea/
*.iml

# Docker artefacts
*.pid

# Arquivos de schema gerados
openapi.yaml

# Node (se futuro front estiver junto)
node_modules/

